
<table align="center" width="80%">
    <tr>
	<td>
	    <table align="right">
		<tr>
	<td class="nav">
	    <p align="center">
		<span class="style3">
		    <a href="http://foundscapes.com/index.html">home</a> | 
		    <a href="http://foundscapes.com/mission.html">mission</a> | 
		    <a href="http://foundscapes.com/news.html">news</a> | 
		    <a href="http://foundscapes.com/submit.html">submit</a> | 
		    <a href="http://foundscapes.com/contact.html">contact</a> | 
		    
		    <a href="http://foundscapes.com/friends.html">friends</a> |
		    <a href="http://foundscapes.com/faq.html">faq</a>
		</span>
	    </p>
	</td>

    </tr>
</table>